.hero {
    margin-top: 7rem;
    justify-content: center;
    display: flex;
    position: relative;
}
.hero-Container{
    margin-right: 5rem ;
}
.hero-Container h2{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

.hero-Container p{
    margin-bottom: 1.5rem;
}
.goldenWord {
    color: var(--font-font-third);
}

.container-Button{
    display: flex;
    gap:2rem
}

.btnCatalogo button {
    padding: 0.6rem 2.3rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: none;
    font-weight: 700;
    background-color: var(--font-font-third);
    color: var(--color-font-second);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.btnCatalogo button:hover{
    background-color: rgb(244, 211, 128);
    transition: 0.3s;
}

.btnCatalogo button:active{
    transform: scale(0.95);
}

.callPhone {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-font-second);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    width: 10.5rem;
    height: 2.5rem;
    border-radius: 0.5rem;
}

.callPhone p{ 
    margin-top: 1.5rem;
}

.callPhone div{
    background-color: var(--font-font-third);
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
}

.callPhone svg:hover{
    color: var(--color-font-second);
    transition: 0.3s;
}

.social-media{
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}
.social-media svg:hover{
    background-color: var(--font-font-third);
    width: 3rem;
    height: 3rem;
    border-radius: 0.5rem;
    transition: 0.4s;
    color: rgb(51, 48, 48);
    transition: 0.3s;
}

.social-media svg:active{
    transform: scale(0.90);
}

/* ====================Imagem02==================== */
.hero-img{
    width: 27rem;
    height: 24rem;
    user-select: none;
}

/* .shape{
    z-index: -1;
    background-color: #efcaaf;
    position: absolute;
    width: 30%;
    height: 100%;
    border-radius: 40% 30% 40% 10%;
    top: 0;
    right: 100px;
} */


/*=================================================Responsive 883px==============================================*/

@media (max-width: 883px) {
    .container-Button{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
    .hero-Container {
        margin-right: 1rem ;

    }
    .hero-Container h2{
        text-align: center;
        font-size: 3rem;
    }
}

/*=================================================Responsive 753px==============================================*/

@media (max-width: 768px) {
    .shape{
        display: none;
    }
    .hero-img{
        display: none;
    }
    .social-media{
        display: flex;

        justify-content: center;
    }
    .hero-Container{
        margin-right: 0rem;
    }
}

/*=================================================Responsive 435px==============================================*/

@media (max-width: 435px) {
    .hero-Container h2{
        font-size: 2.5rem;
    }
}