@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html{
  scroll-behavior: smooth;
}

:root{
  --color-font-firt:#000000;
  --color-font-second:#fff;
  --font-font-third:goldenrod;
}

body{
  padding: 0 6rem;
  /* background-color: #FFF8F3; */
  background-image: url('../src//assets/background.png');
  background-position: center;
  background-size: cover;
}

/*=================================================Responsive 412px==============================================*/
@media (max-width:585px){
  body{
    padding: 0 2rem;
  }
}